@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
  --nav-white: #fff;
  --nav--blue: #4287f5;
  --nav-dark: rgba(255, 255, 255, 0);
  --header--font: #fff;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Menu Link Custom Style */

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--nav-white) !important;
  border-top: 0.1875rem solid var(--nav-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--nav--blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--nav--blue);
}

/* Header Custom Styling */

.header-wraper {
  position: relative;
  background: url(bgImage.gif) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--header--font);
  font-size: 5rem;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 3rem !important;
  }
}

/* About Custom Styling */

.custom_about_image {
  height: 50vh;
  object-fit: cover;
  width: 80%;
  border-radius: 50%
}

.custom_about_text {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2rem
}

.header_font_size {
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.0375rem;
}










/* OLD CSS* {
  font-family:'Courier New', Courier, monospace;
}

.App {
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image {
  object-fit: cover;
  object-position: 15% 100%;
}
.card_size {
  width: 500px;
  padding: 10px;
  margin: 0;
}
.custom_project_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.custom_resume_style {
  width: 75%;
  padding: auto;
  display: flex;
  align-items: center;
}
.image_center {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}
.h1 {
  display: flex;
  align-items: center;
}
.custom_style_center {
  display: block;
  width: 200px;
}
.custom_style_left {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: right;
  width: 350px;
}
.background {
  background: rgb(169, 115, 230);
  background: linear-gradient(
    167deg,
    rgba(169, 115, 230, 1) 0%,
    rgba(73, 84, 200, 1) 100%
  );
  background-repeat: repeat;
  background-size: auto auto;
  background-attachment: fixed;
  position: fixed;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.custom_about_image {
  border: 10px double black;
  height: 50vh;
  object-fit: cover;
  width: 80%;
}
.custom_font_size {
  font-size: 35px;
}
.other_font_size {
  font-size: 20px;
}
.header_font_size {
  font-size: 60px;
}

Form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
} */